<div id="<%= dom_id team %>">
<h4> <%= team.name %> </h4>
<% if team.logo.attached? %> 
<%= image_tag team.logo.attachment %> 
<% end %>
<% if team.players.attached? %> 
<%= image_tag team.players.attachment %> 
<% end %>
</div>
